@font-face {
    font-family: dancing;
    src: url(../Tipografias/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: aboreto;
    src: url(../Tipografias/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
    font-family: rubik;
    src: url(../Tipografias/Rubik_Marker_Hatch/RubikMarkerHatch-Regular.ttf);
}